<div class="container fluid">


<!-- 	<#%= form_with  url: search_path, method: :get do %>
		<#%= label_tag "title" %> :
		<#%= text_field_tag :title, "", :id => "title", list:"check_product_title", autocomplete: :off %>
		<datalist id="check_product_title" ></datalist> <br/>

		<div class=“my-2”>
			<#%= submit_tag "Search", :class => "btn btn-primary" %>
		</div>
	<#% end %> -->

<div class=“row”>
    <div class=“col-sm-4”>
      <% @product.order(updated_at: :desc).each do |product| %> 

 <!--      <#% if product.avatar != nil %>
        <img src="<%= product.avatar %>">
        <#% else %> -->
        <img src="http://s2.favim.com/orig/32/art-film-flowers-grain-hipster-Favim.com-259663.jpg">
  <!--     <#% end %> -->

      <p>Title: <%= product.title %></p>
      <p>Description: <%= product.description %></p>

      <p>Price: RM <%= product.price %></p>

      <%= link_to 'Show', product_path(product) %>

      <hr>

      <% end %>

    </div>
  </div>

</div>