<div class="container fluid">

	<%= form_with  url: search_path, method: :get do |form| %>
		<%= form.label :title %> :
		<%= form.text_field :title, autocomplete: :off %> <br/>

		<div class=“my-2”>
			<%= submit_tag "Search", :class => "btn btn-primary" %>
		</div>
	<% end %>

<div class=“row”>
    <div class=“col-sm-4”>
      <% @product.order(updated_at: :desc).each do |product| %> 

      <% if product.avatar != nil %>
        <img src="<%= product.avatar %>">
      <% end %>

      <p>Title: <%= product.title %></p>
      <p>Description <%= product.country %></p>

      <p>Price: RM <%= product.price %></p>

      <%= link_to 'Show', product_path(product) %>

      <hr>

      <% end %>

    </div>
  </div>

</div>